{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/twocss.css' %}">
</head>
<body>
    <center>
        <div id="style">
        <h1>Be Peace and learn that from Nature</h1>
        <div id="style1">
        
        <img src="{% static 'images/rose.jpg' %}" width="680px" height="680px">
        <img src="{% static 'images/trees.jpg' %}" width="680px" height="680px">
        <p id="blessie">
            "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large,
             if not the only, part of science. Although humans are part of nature,            
             human activity is often understood as a separate category from other natural phenomena.
             Nature can be defined as the interaction between physical surroundings around us. Physical surroundings include
              living and non-living beings. Living beings include humans, animals,
              plants, and anything that can breathe in and out. Non-living beings are weather, climate, rocks, air, water,
              
            "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large,
            if not the only, part of science. Although humans are part of nature,            
            human activity is often understood as a separate category from other natural phenomena.
            Nature can be defined as the interaction between physical surroundings around us. Physical surroundings include
             living and non-living beings. Living beings include humans, animals,
             plants, and anything that can breathe in and out. Non-living beings are weather, climate, rocks, air, water,
             
            "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large,
            if not the only, part of science. Although humans are part of nature,            
            human activity is often understood as a separate category from other natural phenomena.
            Nature can be defined as the interaction between physical surroundings around us. Physical surroundings include
             living and non-living beings. Living beings include humans, animals,
             plants, and anything that can breathe in and out. Non-living beings are weather, climate, rocks, air, water,
             "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large,
              if not the only, part of science. Although humans are part of nature,            
              human activity is often understood as a separate category from other natural phenomena.
              Nature can be defined as the interaction between physical surroundings around us. Physical surroundings include
               living and non-living beings. Living beings include humans, animals,
               plants, and anything that can breathe in and out. Non-living beings are weather, climate, rocks, air, water,
               "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large,
                if not the only, part of science. Although humans are part of nature,            
                human activity is often understood as a separate category from other natural phenomena.
                Nature can be defined as the interaction between physical surroundings around us. Physical surroundings include
                 living and non-living beings. Living beings include humans, animals,
                 plants, and anything that can breathe in and out. Non-living beings are weather, climate, rocks, air, water,
        </p>
        </div>
        </div>

    </center>
</body>
</html